<div *ngIf="!scheduleList && loadingList">
  Reloading the data...
</div>
<div *ngIf="scheduleList && !loadingList">
  <table class="table table-striped custab">
    <colgroup>
      <col *ngFor="let cols of columnHeaders" [ngClass]="{'bg-danger':cols.isColumnError}">
    </colgroup>
    <thead class="thead-light">
      <tr>
          <th scope="col" *ngFor="let cols of columnHeaders">{{cols.columnText}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sched of scheduleList">
        <td>{{sched.teammateName}}</td>
        <td>{{sched.teammateType}}</td>
        <td>{{sched.monday}}</td>
        <td>{{sched.tuesday}}</td>
        <td>{{sched.wednesday}}</td>
        <td>{{sched.thursday}}</td>
        <td>{{sched.friday}}</td>
        <td>{{sched.saturday}}</td>
        <td>{{sched.sunday}}</td>
      </tr>
    </tbody>
  </table>
</div>
